<h3>{{localize 'LMJE.SYSTEM.optionalHint.header'}}!</h3>
<p>{{{localize 'LMJE.SYSTEM.optionalHint.detected'}}}</p>
<p>{{{localize 'LMJE.SYSTEM.optionalHint.dependency'}}}</p>
<p>{{{localize 'LMJE.SYSTEM.optionalHint.makeOptional'}}}</p>
<a href="https://github.com/Lyynix/MoreJournalEnrichers/blob/main/releases/optionalLMJE.js">optionalLMJE.js (github.com)</a>
<p>{{{localize 'LMJE.SYSTEM.optionalHint.explanation'}}}</p>
<p>{{{localize 'LMJE.SYSTEM.optionalHint.explanation2'}}}</p>
<p>{{{localize 'LMJE.SYSTEM.optionalHint.contact'}}}</p>
