<h3>{{localize 'LMJE.SYSTEM.welcomeMessage.message.Thanks'}}!</h3>
<p>
  {{localize 'LMJE.SYSTEM.welcomeMessage.message.Wiki'}}.<br> 
  <ul>
    <li>
      <a href="http://">{{localize 'LMJE.SYSTEM.welcomeMessage.message.wikiLinkLabel'}}</a>
      </li>
  </ul>
</p>
<p>
  {{localize 'LMJE.SYSTEM.welcomeMessage.message.Contact'}}.<br>
  <ul>
    <li>
      <a href="http://">{{localize 'LMJE.SYSTEM.welcomeMessage.message.FoundryVTTDiscordLabel'}}</a>
    </li>
  {{#if isGerman}}
    <li>
      <a href="http://">{{localize 'LMJE.SYSTEM.welcomeMessage.message.WeltenformerDiscordLabel'}}</a>
    </li>
  {{/if}}
  </ul>
</p>
