<span class="LMJE-link">
  <i class="fas {{faIcon}}"></i>
  {{label}} &mdash;
  <span>
  {{#each buttons as |button|}}
  <a title="{{localize button.tooltip}}" onclick="{{button.onclick}}">
    <i class="fas {{button.faIcon}}"></i>
  </a>
  {{/each}}
  </span>
</span>