<span class="LMJE-link">
  <a class="content-link LMJE-no-link" 
    draggable="true"
    data-uuid="{{documentData.uuid}}" 
    data-id="{{documentData.id}}" 
    data-type="{{documentData.type}}"
    data-link>
  <i class="fas {{faIcon}}"></i>
  {{label}} &mdash;
  </a>
  <span>
  {{#each buttons as |button|}}
  <a title="{{localize button.tooltip}}" onclick="{{button.onclick}}">
    <i class="fas {{button.faIcon}}"></i>
  </a>
  {{/each}}
  </span>
</span>
